.form__card {
  width: 200px;
  height: 260px;
  display: flex;
  flex-direction: column;
  border: 1px solid gainsboro;
  overflow: hidden;
}

.form__card-img {
  margin: 10px auto;
  height: 50%;
  width: fit-content;
}