.card {
  margin: 20px;
  opacity: 1;
  transition: 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

.card__image {
  border-radius: 5px;
  width: 270px;
}

.card__price {
  font-weight: 500;
}

.card__brand {
  font-size: 20px;
}

.card__desc {
  color: gray;
}
