.nav-menu {
  margin: 20px;
}

.nav-menu__list {
  display: flex;
  justify-content: center;
  gap: 20px;

  text-decoration: none;
  font-variant-caps: all-petite-caps;
  list-style: none;
}

.nav-menu__item {
  display: flex;
  align-items: center;
}

.nav-menu__link {
  position: relative;
  top: 0px;
  display: flex;
  padding: 5px 10px;
  color: black;
  border: 1px solid #dbd4d4;
  font-size: 14px;
  text-decoration: none;
  transition: 0.2s;
  &:hover {
    color: rgb(98, 98, 98);
    border: 1px solid #a7b792;
  }
}
