.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.3s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.63);
  }
}
